---
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import Layout from "@/layouts/Layout.astro";

import carlus01 from "@/assets/carlus/carlus-1.png";
import carlus02 from "@/assets/carlus/carlus-2.png";

import filosofia01 from "@/assets/filosofia/filosofia-1.png";
import filosofia02 from "@/assets/filosofia/filosofia-2.png";
import filosofia03 from "@/assets/filosofia/filosofia-3.png";

import dither01 from "@/assets/ditherlabs/ditherlabs-1.png";
import dither02 from "@/assets/ditherlabs/ditherlabs-2.png";
import dither03 from "@/assets/ditherlabs/ditherlabs-3.png";

import logistica01 from "@/assets/logistica/logistica-1.png";
import logistica02 from "@/assets/logistica/logistica-2.png";
import logistica03 from "@/assets/logistica/logistica-3.png";

import ImagesGallery from "@/components/images-gallery";

const headerLinks: { href: string; label: string }[] = [
  {
    href: "https://www.linkedin.com/in/simon-ottati-ostiglia-6b161620a/",
    label: "LinkedIn",
  },
  {
    href: "https://github.com/sottati",
    label: "GitHub",
  },
  {
    href: "mailto:simooonottati@gmail.com",
    label: "Gmail",
  },
];

const carlusImages = [
  { src: carlus01, alt: "carlus-1" },
  { src: carlus02, alt: "carlus-2" },
];

const filosofiaImages = [
  { src: filosofia01, alt: "filosofia-1" },
  { src: filosofia02, alt: "filosofia-2" },
  { src: filosofia03, alt: "filosofia-3" },
];

const ditherImages = [
  { src: dither01, alt: "dither-1" },
  { src: dither02, alt: "dither-2" },
  { src: dither03, alt: "dither-3" },
];

const logisticaImages = [
  { src: logistica01, alt: "logistica-1" },
  { src: logistica02, alt: "logistica-2" },
  { src: logistica03, alt: "logistica-3" },
];

const projects = [
  {
    title: "Carlus | Herramienta de escritura de texto asistida con AI",
    url: "https://carlus.vercel.app",
    images: carlusImages,
    description: undefined,
    badge: undefined,
  },
  {
    title: "Filosofia Chatbot | Habla con tus autores favoritos",
    url: "https://filosofia-ai.vercel.app/",
    images: filosofiaImages,
    description: undefined,
    badge: undefined,
  },
  {
    title: "Dither Labs | Servicio de automatización de procesos",
    url: "https://filosofia-ai.vercel.app/",
    images: ditherImages,
    description: undefined,
    badge: "No lanzado aún",
  },
  {
    title: "Pack Pilot | Software para manejo de empresas logisticas",
    url: "https://logistica-lilac.vercel.app",
    images: logisticaImages,
    description: undefined,
    badge: undefined,
  },
];
---

<Layout>
  <div
    class="flex flex-col items-center justify-center max-w-screen-md mx-auto p-8"
  >
    <header class="w-full flex flex-col gap-4 justify-start">
      <div class="flex flex-col md:flex-row gap-2 items-start md:items-center">
        <h1 class="text-3xl font-serif">Simon Ottati</h1>
        <ul class="font-mono text-sm text-muted-foreground flex flex-row gap-2">
          {
            headerLinks.map((link, index) => (
              <li>
                <Button
                  variant="link"
                  size="sm"
                  className={`text-muted-foreground cursor-pointer ${index === 0 ? "pl-0" : ""}`}
                >
                  <a href={link.href} target="_blank">
                    {link.label}
                  </a>
                </Button>
              </li>
            ))
          }
        </ul>
      </div>
      <p class="font-mono text-sm italic">Software Developer</p>
      <p class="font-mono text-sm">21 años | Argentina, CABA</p>
    </header>

    <Separator className="w-full my-4 bg-muted-foreground" />

    <main class="w-full flex flex-col gap-6">
      <section>
        <h2 class="font-mono font-bold">Educación</h2>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">
            Lic. en Gestión de Tecnologías de la Información (Sistemas)
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            UADE (en curso | 2do año)
          </p>
        </div>
        <div>
          <h3 class="font-mono font-semibold">
            Bachiller con orientación en producción de medios audiovisuales
          </h3>
          <p class="font-mono text-sm text-muted-foreground">ORT Belgrano</p>
        </div>
      </section>

      <section>
        <h2 class="font-mono font-bold">Proyectos</h2>
        {
          projects.map((project) => (
            <div class="mb-3">
              <div class="flex flex-row gap-2 items-center">
                <h3 class="font-mono pb-2">
                  <a target="_blank" href={project.url} class="hover:underline">
                    {project.title}
                  </a>
                </h3>
                {project.badge && (
                  <span class="inline-flex items-center rounded-full border px-2.5 py-0.5 mb-2 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80">
                    {project.badge}
                  </span>
                )}
              </div>
              <ImagesGallery client:load images={project.images} />
            </div>
          ))
        }
      </section>

      <section>
        <h2 class="font-mono font-bold">Experiencia laboral</h2>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">
            <a
              target="_blank"
              href="https://planbit.com.ar"
              class="hover:underline"
            >
              PlanBit</a
            >
            /
            <a
              target="_blank"
              href="https://fundacionblockchain.com"
              class="hover:underline"
            >
              Fundación Blockchain Argentina</a
            >
            | Desarrollador Web
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            Marzo 2022 -&gt; Presente
          </p>
          <ul
            class="list-disc list-inside font-mono text-sm mt-1 ml-2 space-y-1"
          >
            <li>Diseño, maquetación y desarrollo web</li>
            <li>
              Creación de un exchange P2P de criptomonedas, apuntado para gente
              de Buenos Aires
            </li>
            <li>
              Fundación Blockchain: diseño y creación de la web
              (fundacionblockchain.com)
            </li>
            <li>
              Organización y segmentación del contenido informativo dentro de la
              página
            </li>
          </ul>
        </div>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">
            <a
              target="_blank"
              href="https://www.instagram.com/promowearsrl/"
              class="hover:underline"
            >
              PromoWear (para La Nacion+)</a
            >
            | Producción de eventos
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            Abril 2023 -&gt; Presente
          </p>
          <ul
            class="list-disc list-inside font-mono text-sm mt-1 ml-2 space-y-1"
          >
            <li>
              Eventos y programas en vivo: Comunidad de Negocios, Managment 2030
              10° Edición, Summits (Innovación, Sustentabilidad, Mujeres al
              Mundo, RRHH, Movilidad, Bienestar y salud, entre otros), Eventos
              corporativos, Premiaciones
            </li>
            <li>
              Operador técnico en transmisiones en vivo (VMix): Managment 2030
              11° Edición, La Nacion+ Cerca, Summits, Premiaciones
            </li>
          </ul>
        </div>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">Freelance</h3>
          <ul
            class="list-disc list-inside font-mono text-sm mt-1 ml-2 space-y-1"
          >
            <li>
              Edición de contenidos audiovisuales | Premire Pro, Photoshop,
              Illustrator, After Effects
            </li>
            <li>
              Diseñador de flyers para eventos, invitaciones, tarjetas de
              contacto, entre otras
            </li>
            <li>Desarrollo de paginas web</li>
            <li>Automatización de procesos</li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="font-mono font-bold">Conocimientos</h2>
        <ul class="list-disc list-inside font-mono text-sm ml-2 space-y-1">
          <li>React</li>
          <li>NextJS</li>
          <li>Astro</li>
          <li>SQL</li>
          <li>Python</li>
          <li>Java</li>
        </ul>
      </section>

      <section>
        <h2 class="font-mono font-bold">Idiomas</h2>
        <ul class="list-disc list-inside font-mono text-sm ml-2 space-y-1">
          <li>Español | Nativo</li>
          <li>Inglés | Intermedio</li>
        </ul>
      </section>

      <section>
        <h2 class="font-mono font-bold">Intereses generales</h2>
        <p class="font-mono text-sm">
          Surf | Futbol | Programación | Ejercicio fisico | Snowboard | AI |
          SpeedCubing
        </p>
      </section>
    </main>
  </div>
</Layout>
